<section class="first">
    <h2 style=" font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color: gainsboro;">Worried about how to study and manage time...! </h2>
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: ghostwhite;">Thank you for visit here.Now you can find the solutions of your problems</p>
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: ghostwhite;">Sign up to know more</p>
</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="imageclass">
                <img src="assets/explore2.jpg" class="img-fluid mx-0" alt="">
            </div>
            <div class="textclass">
                <h4>EXPLORE YOURSELF</h4>
                <p>Explore yourself by knowing more about fields in which you want to make your carrier
                    </p>
                    <br>
                <button type="button" #knowmore class="btn btn-primary mx-2" routerLink="/sign-in">Know More</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="imageclass">
                <img src="/assets/tip.jpg" class="img-fluid mx-0" alt="">
            </div>
            <div class="textclass">
                <h4>GET STUDY TIPS</h4>
                <p>Follow the study tips while studying which makes you
                    free from stress and more memorizable.</p>
                <button class="btn btn-primary my-1 mx-2" routerLink="/sign-in">Know More</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="imageclass">
                <img src="/assets/timetable.jpg" class="img-fluid mx-0" alt="">
            </div>
            <div class="textclass">
                <h4>SCHEDULE TIME TABLE</h4>
                <p>Prepare your own time table on the daily basis and
                    follow it to manage your time.</p>
                    <br>
                <button class="btn btn-primary mx-2" routerLink="/sign-in">Know More</button>
            </div>
        </div>
    </div>
</div> -->
<!-- <a href="#" class="hvr-float-shadow">Float Shadow</a> -->