<div class="container my-4">
    <div class="row">
        <div class="col">
            <marquee behavior="alternate" direction="right"><h1 style="color: red;">Let here to be guide your future</h1></marquee>
            <h5 style="text-align: center;"><img src="../../assets/homepageemoji.jpg" class="img-fluid" width="40px" alt="">Sign Up to know more about us and explore yourself<img src="../../assets/homepageemoji.jpg" class="img-fluid" width="40px" alt=""></h5>
        </div>
    </div>
</div>


<section class="classsec">
    <div class="one">
        <div class="imageclass">
            <img src="assets/explore2.jpg" alt="">
        </div>
        <div class="textclass">
            <h4 >EXPLORE YOURSELF</h4>
            <p style="font-family: fantasy; font-size: larger;">Explore yoyrself by giving your academic survey to know where you stand and waht matches you.</p>
            <button class="btn btn-success mx-2" routerLink="/sign-in">Know More</button>
        </div>
    </div>
    <div class="one">
        <div class="imageclass">
            <img src="assets/logo.jpg" alt="">
        </div>
        <div class="textclass">
            <h4>GET STUDY TIPS</h4>
            <p style="font-family: fantasy; font-size: larger;">Follow the study tips while studying which makes you free from stress and more memorizable.</p>
            <button class="btn btn-success mx-2" routerLink="/sign-in">Know More</button>
        </div>
    </div>
    <div class="one">
        <div class="imageclass">
            <img src="/assets/study_tips.jpg" alt="">
        </div>
        <div class="textclass">
            <h4>SCHEDULE TIME TABLE</h4>
            <p style="font-family: fantasy; font-size: larger;">Prepare your own time table on the daily basis and follow it to manage your time.</p>
            <button class="btn btn-success mx-2" routerLink="/sign-in">Know More</button>
        </div>
    </div>
</section>
<!-- <a href="#" class="hvr-float-shadow">Float Shadow</a> -->
