.first
{
    background-image: url(../../assets/bgimage.jpeg);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size:100% 100%;
}
.container-fluid{
    background-color: mediumseagreen;
    height: 500px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
} 
p{
    font-family: fantasy;
    font-size:larger ;
}
.col-md-3{
    background-color: darkslategrey;
    margin: 50px auto;
    border: 1px solid palegoldenrod;
} 
.col-md-3:hover{
    /* box-shadow: 5px 5px solid black;
    border-bottom: 4px white;
    border: 2px solid gray; */
    transform: translate3D(0,-1px,0) scale(1.03);
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease; /* zoom in */
    cursor: pointer;
}
.imageclass>img{
    width:100%;
}

.textclass{
    text-align: justify;
    width: 100%;
    color: darkred;
}  