/* #first
{
    background-image: url(../../assets/photo7.jpg);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:;
}
.container{
    width:100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
} 
p{
    font-family: fantasy;
    font-size:larger ;
}
.col-md-4{
    width: 27%;
    background-color: gray;
    margin: 50px 10px;
    border: 1px solid palegoldenrod;
} 
.col-md-4:hover{
    box-shadow: 10px 5px 10px rgb(7, 7, 7);
    border: 2px solid gray;
}
.imageclass>img{
    width:100%;
}

.textclass{
    text-align: justify;
    width: 100%;
    color: darkred;
}   */