<section class="container my-auto">
    <table class="table table-bordered table-dark my-auto" >
        <thead>
            <tr>
                <th scope="col">Day/subject</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">sub1</th>
                <td >
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.monday.sub1" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.tuesday.sub1" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.wednesday.sub1" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.thursday.sub1" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.friday.sub1" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.saturday.sub1" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.sunday.sub1" name="" size="7">
                </td>
            </tr>
            <tr>
                <th scope="row">sub2</th>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.monday.sub2" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.tuesday.sub2" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.wednesday.sub2" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.thursday.sub2" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.friday.sub2" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.saturday.sub2" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.sunday.sub2" name="" size="7">
                </td>
            </tr>
            <tr>
                <th scope="row">sub3</th>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.monday.sub3" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.tuesday.sub3" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.wednesday.sub3" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.thursday.sub3" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.friday.sub3" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.saturday.sub3" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.sunday.sub3" name="" size="7">
                </td>
            </tr>
            <tr>
                <th scope="row">sub4</th>
                <td >
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.monday.sub4" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.tuesday.sub4" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.wednesday.sub4" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.thursday.sub4" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.friday.sub4" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.saturday.sub4" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.sunday.sub4" name="" size="7">
                </td>
            </tr>
            <tr>
                <th scope="row">sub5</th>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.monday.sub5" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.tuesday.sub5" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.wednesday.sub5" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.thursday.sub5" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.friday.sub5" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.saturday.sub5" name="" size="7">
                </td>
                <td contenteditable="true">
                    <input type="text" disabled  [(ngModel)]="tt.tabledata.sunday.sub5" name="" size="7">
                </td>
            </tr>
        </tbody>
    </table>

<button (click)="update()" >Update Time Table</button>    
    
</section>
