<!-- <p>tips works!</p> -->
<div class="main">
    <h1 style="font-family: 'Times New Roman', Times, serif; margin: auto;">TOP 10 STUDY TIPS</h1>
</div>
<section class="container">
    <div class="row featurette mt-4 d-flex align-items-center">
        <div class="col-md-7">
            <div class="textclass">
                <h2 class="featurette-heading">1. Pick a place and time</h2>
                <p>Everyone has their own idea about the best place and time to study. Whether it's your bedroom at night or the library after school, find a study space and a regular study time that works for you and stick with it.</p>
                <ul>
                    <li><strong>Set up your study space</strong> –&nbsp;Your study space should be quiet, comfortable and distraction-free. It should make you feel happy and inspired. Decorate it with your favourite pictures or objects. If you want to listen to music or burn incense, pick a space that lets you do that.</li>
                    <li><strong>Find your best time</strong> –&nbsp;Some people work better in the morning. Others work better at night. Work out which time suits you and plan to study then. Don't study much later than your usual bedtime –&nbsp;pushing yourself late at night can make&nbsp;you too tired to study properly.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
                <img src="../../assets/tt.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
        </div>
      </div>
      <div class="row featurette mt-2 d-flex align-items-center">
        <div class="col-md-7 order-md-2">
            <div class="textclass">
                <h2 id="2-study-every-day">2. Study every day</h2>
                <p>If you study a little bit every day you'll be continually reviewing things in your mind. This helps you understand things. It also helps you avoid the stress of last-minute cramming.</p>
                <p>Early in the year an hour or two a night might be enough to stay on top of things. Later in the year you might need to study more each day.</p>
            </div>
            </div>
        <div class="col-md-5 order-md-1">
            <img src="../../assets/photo8.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
        </div>
      </div>
      <div class="row featurette mt-2 d-flex align-items-center">
        <div class="col-md-7">
            <div class="textclass">
                <h2 id="3-plan-your-time">3. Plan your time</h2>
                <p>It helps to have some plans in motion so you can make the most of your study time.</p>
                <ul>
                    <li><strong>Set alarms</strong> –&nbsp;Set alarms to remind you about your study plans. A regular reminder keeps you honest and your plans on track.</li>
                    <li><strong>Use a wall planner</strong>&nbsp;– Stick a calendar or wall planner up so you can see it whenever you're studying. Mark it up with important dates, like exams and assignment due dates. Use it to block out your regular study timetable too.</li>
                    <li><strong>Make to-do lists</strong> –&nbsp;Lists break tasks down into manageable chunks. At the start of the week, make a list of the things that you need to have done by the end of the week. Make a to-do list at the start of each study session too, so that you're clear about what you need to be doing with your time.&nbsp;</li>
                    <li><strong>Set time limits</strong> –&nbsp;Before you start your study session, have a look at your to-do list and give yourself a set time to spend on each task. If you don't get something done in the set time, consider whether it's the best use of your time to keep going with it, or to start working on something else.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
                <img src="../../assets/photo7.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
        </div>
      </div>
      <div class="row featurette mt-2 d-flex align-items-center">
        <div class="col-md-7 order-md-2">
            <div class="textclass">
                <h2 id="4-discover-your-learning-style">4. Discover your learning style</h2>
                <p>Most of us have a preferred way of learning. Get to know the&nbsp;learning style you're most comfortable with and study in the ways you learn best.</p>
                <ul>
                    <li><strong>Auditory learners</strong>&nbsp;prefer to learn by listening. Try reading your notes aloud and discussing them with other people. You might like to record key points and play them back.</li>
                    <li><strong>Visual learners</strong>&nbsp;prefer to learn by seeing. Try using colours in your notes and draw diagrams to help represent key points. You could try to remember some ideas as images.</li>
                    <li><strong>Tactile/kinesthetic learners</strong>&nbsp;prefer to learn by doing. Try using techniques like&nbsp;role-playing or building models to revise key points.</li>
                </ul>
            </div>
            </div>
        <div class="col-md-5 order-md-1">
            <img src="../../assets/photo2_1.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
        </div>
      </div>
      <div class="row featurette mt-2 d-flex align-items-center">
        <div class="col-md-7">
            <div class="textclass">
                <h2 id="5-review-and-revise">5. Review and revise</h2>
                <p>At least once a week you should go back over the things you've studied in class. Thinking things over can help you to understand the concepts and help you remember when you need them the most.</p>
                <ul>
                    <li><strong>Quiz </strong>–&nbsp;Get a friend or family member to quiz you on key concepts. Offer to help your friends with their work too. Quizzes are great ways to get confident about what you know and find out what you still need to learn.</li>
                    <li><strong>Make your own study materials</strong> –&nbsp;Think up some practice exam questions or create your own flash cards to help you study. This way you learn it all twice: once when you make the study materials and once when you use them to revise.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <img src="../../assets/photo4_1.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
        </div>
      </div>
      <div class="row featurette mt-2 d-flex align-items-center">
        <div class="col-md-7 order-md-2">
            <div class="textclass">
                <h2 id="6-take-breaks">6. Take breaks</h2>
                <p>It's important to take breaks while you're studying, especially if you're feeling tired or frustrated. Working too long on a task can actually decrease your performance.</p>
                <p>When you take a break, make sure you get away from your desk or study space. A bit of physical –&nbsp;even just a walk around the block –&nbsp;can sometimes help you to look at a problem in a different way and could even help you to solve it.</p>
            </div>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="../../assets/photo5.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
        </div>
      </div>
      <div class="row featurette mt-2 d-flex align-items-center">
        <div class="col-md-7">
            <div class="textclass">
                <h2 id="7-stay-motivated">7. Stay motivated</h2>
                <p>When you're studying it helps to keep in mind your reasons for doing all this hard work, like a course or career you're working towards. It can help to have something in your study space to remind you of your goals.</p>
                <p>You could also decorate your study space with inspirational quotes or photos of people you admire and family members you want to make proud of you.</p>
            </div>
        </div>
        <div class="col-md-5">
            <iframe width="500" height="700" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="https://www.youtube.com/embed/RwxC5J8LI4Q" alt="motivation video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <img src="../../assets/photo4_.jpg" alt=""  width="500" height="500">
        </div>
      </div>
      <div class="row featurette mt-2 d-flex align-items-center">
        <div class="col-md-7 order-md-2">
            <div class="textclass">
                <h2 id="8-make-notes">8. Make your own notes</h2>
                <p>Whatever you have read from the book or from anyehere else that is a extended content.You can make it small and more understable by making it brief.The content can be made by making your own notes in your own hand writing.</p>
            </div>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="../../assets/notes.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
        </div>
      </div>
      <div class="row featurette mt-2 d-flex align-items-center">
        <div class="col-md-7">
            <div class="textclass">
                <h2 id="now-come-up-with-your-own-strategies">9. Now come up with your own strategies</h2>
                <p>These tips are only some of the things you can do to get the most out of your studying. You might already have other things that work better for you. Find out what your friends do when they're studying. Maybe your teachers have some good recommendations too.</p>
            </div>
        </div>
        <div class="col-md-5">
            <img src="../../assets/photo9.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
        </div>
      </div>
</section>
<hr>
