<div class="container mt-4">
    <h2>Medical Couses</h2>
    <h4 style="border-bottom: 1px dotted black; font-weight: lighter;">Introduction</h4>
    <p>The “Medical field” is one of the best, reputed and respected professional fields in India and abroad.
    </p>
    <p>
        When we talk about Medical, an image of an <a href="https://en.wikipedia.org/wiki/Bachelor_of_Medicine,_Bachelor_of_Surgery" target="_blank">MBBS</a> rises in our mind.
    </p>
    <p> 
        It is not so!!
    </p>
    <p> 
        There are various courses other than MBBS, in the medical field in India.
    </p>
    <p> 
        But the question is still there!
    </p>
    <p>
        What is the best medical course after 12th in science and after 12th in biology?
    </p>
    <p> 
        Are you still waiting for the answer of…………….?
    </p>
    <p> 
        What should i do after 12th in medical field?</p>
        
     <img src="../../assets/med.jpg" class="img-fluid" alt="">   
     <br>
     <h4 style="border-bottom: 1px dotted black; font-weight: lighter;">Course & Admission</h4>
     <p>Medical field contains a broad range of academic education other than MBBS. It contains the certificate courses, medical diploma courses, bachelor degree courses, master degree courses and many short time knowledge booster courses for medical professionals. The candidates having PCB or PCMB group in their +2 can appear in <a href="https://en.wikipedia.org/wiki/National_Eligibility_cum_Entrance_Test_(Undergraduate)" target="_blank">NEET</a> exam for admission to the top medical colleges of the country.</p>
     <p>Various institutions and university from abroad and in India is offering some of the medical courses by Online. IGNOU is one of the leading universities that provide the education in the medical field by online admission.
     </p>
     <p>
         For admission to bachelor degree, the students must have to prepare for medical entrance test after 12th standard. The students must have science with Biology in 12th standard.
     </p>
     <p>
         NEET is the only national level medical entrance test after 12th. Some universities like AIIMS & <a href="https://en.wikipedia.org/wiki/Jawaharlal_Institute_of_Postgraduate_Medical_Education_and_Research" target="_blank" > JIPMER</a> conduct their own entrance examination.
     </p>
     <p>
         It is an expanded field of educational study and there are so many courses including medical diploma courses, degree courses, certificate courses and lab technical courses & other medical technical courses.</p>
        <h6>You may also check:</h6>
        <ul>
            <li>AIIMS</li>
            <li>AIIMS PG</li>
            <li>JIPMER PG</li>
            <li>NEET PG</li>
        </ul>
        <h4 style="border-bottom: 1px dotted black; font-weight: lighter;">Jobs & Career</h4>
        <p>Medical courses are in demand and fast growing. It is a hard working field but a reputed one also. The patients are being cured for 24×7.
        </p>
        <p>
            The healthcare industry is very large and around 14 million jobs are in the US only.
        </p>
        <p> 
            The career is divided at the level of your education in the medical field. Whether you have a diploma or bachelor degree or master degree, you are in a race of a good career.
        </p>
        <p> 
            After the completion of medical course you can choose the right organization or industry or hospital.</p>
            <p>There are so many industries, organizations, pharmaceutics, hospital, research laboratories and related industries in India and abroad.
            </p>
            <p>
                Some leading employers in the field of health care are as the following (recruiters in medical field):</p>
                <ul>
                    <li>Acrux</li>
                    <li>Australian Pharmaceutical Industries</li>
                    <li>Biota Holdings Limited</li>
                    <li>Black mores</li>
                    <li>CSL Limited</li>
                    <li>Chemeq</li>
                    <li>Cochlear Limited</li>
                    <li>Health scope</li>
                    <li>Hexal Australia</li>
                    <li>Mesoblast</li>
                    <li>NIB Holdings</li>
                    <li>Prima Biomed</li>
                    <li>ResMed</li>
                    <li>Sigma Pharmaceutical</li>
                </ul>
                <h4 style="border-bottom: 1px dotted black; font-weight: lighter;">Salary</h4>
                <p>The medical field is one of the highest salary paying fields in India and abroad. Today, in the US, the demand of well skilled and educated medical candidate is rising.</p>
                <p>Being of a big pool of different courses, the medical field offers the student a wide range of good salaries.
                </p>
                <p>
                    If you have MD or MS degree you will get the $500000 to 1000000 per annum.
                </p>
                <p> 
                    If you have done the bachelor, you can earn the $100000 to 300000 per annum.
                </p>
                <p> 
                    If you posses the technician, nursing or assistance course, you can get the $50000 to 100000 per annum.</p>
                    <h4 style="border-bottom: 1px dotted black; font-weight: lighter;">List of Medical Courses</h4>
                    <p>The best medical courses are as the following:</p>
                    <strong>1. M. B. B. S. (Bachelor of Medicine and Bachelor of Surgery) – 5.5 years</strong>
                    <p>MBBS is the bachelor degree in medical field for cure & diagnose, awarded in many countries.</p>
                    <strong>2. B. D. S. (Bachelor of Dental Surgery) – 4 years</strong>
                    <p>BDS is a professional degree programme in dentistry.</p>
                    <strong>3. B. H. M. S. (Bachelor of Homeopathic Medicine & Surgery) – 5.5 years</strong>
                    <p>
                    BHMS is a bachelor degree in Homeopathic Education in India regulated by the National Institute of Homeopathy.</p>
                    <strong>4. B. A. M. S. (Bachelor of Ayurvedic Medicine and Surgery) – 5.5 years</strong>
                    <p>BAMS is a bachelor degree in ayurvedic system of medical field. In India, the Ayurvedic Education is regulated by the Central Council of Indian Medicine (CCIM).</p>
                    <strong>5. M.D. (Doctor of Medicine) – 3 years</strong>
                    <p>This degree is awarded to the doctors who are physicians. The minimum eligibility for this course is MBBS.</p>
                    <strong>6. M.S. (Master of Surgery) – 3 years</strong>
                    <p>This degree is awarded to the doctors who master course in surgery. The minimum eligibility for this course is MBBS.</p>
                    <strong>7. D.M (Doctorate in Medicine) – 2 to 3 years</strong>
                    <p>DM is a doctorate degree equivalent to the PhD degree awarded by the many universities in the USA. Doctors having M.D degree are eligible for this course.</p>
                    <strong>8. B.Pharm (Bachelor of Pharmacy) – 4 years</strong>
                    <p>Candidate must have passed 10+2 with at least 50% marks with biology/mathematics as one of the compulsory subjects, or D.Pharm (Diploma in Pharmacy). This degree involves the knowledge of pharmacy.</p>
                    <strong>9. B.Sc Nursing - 4 years</strong>
                    <p>Candidate must have passed 10+2 with Physics, Chemistry & Biology with a minimum of 45% marks. The motive of B.Sc. Nursing programme is to produce the qualified nurses, as a member of the health care team.</p>
                    <strong>10. B.P.T.(Physiotherapy - 4.5 years</strong>
                    <p>Candidate must have passed in 12th class or equivalent with a minimum 50% marks in physics, chemistry and biology. Physiotherapy helps the temporary disabled people in their rehabilitation.</p>
                    <strong>11. B.O.T.(Occupational Therapy) - 3 years</strong>
                    <p>Candidate must have passed 10+2 with Physics, Chemistry & Biology. Some institutions may opt for an entrance examination. The Occupational Therapy helps the people to enable in their everyday life and treats the emotionally and physically challenged people.</p>
                    <strong>12. B.U.M.S(Unani Medicine) - 5 years</strong>
                    <p>BUMS degree is equivalent to the BAMS, but in Unani medicines. Candidate must have passed 10+2 with Physics, Chemistry & Biology. Urdu is compulsory up to 10th class or equivalent Education. Candidate must have attained minimum 17 years of age at the admission.</p>
                    <strong>13.D.Pharm(Ayurvedic,Siddha Medicine) - 2 years</strong>
                    <p>It is a medical diploma course in pharmacy of ayurvedic medicines. Candidate must have passed 10+2 with Physics, Chemistry & Biology.</p>
                    <strong>14. BMLT (Bachelor of Medical Lab Technicians) – 3 years</strong>
                    <p>It is a bachelor degree of medical laboratory technology, contains the entire laboratory practices of the medical system. Candidate must have cleared the 10+2 exam with PCB. Various institutions are offering the B.Sc. programme in medical laboratory technology in India.</p>
                    <strong>14. DMLT (Diploma of Medical Lab Technicians) – 3 years</strong>
                    <p>It is a medical diploma course of medical laboratory technology, contains the laboratory practices of the medical field. Candidate must have cleared the 10+2 exam with PCB.</p>
                    <p class="bg-danger" style="color: white;">For more info about this blog you can <a routerLink="/contact">contact us</a></p>
</div>
<br><br><br>