
body{
    margin: 0px;
    padding: 0px;
}
#navigation-bar{
    background-color: currentColor;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.mainmenu{
    width: 50%;
    box-sizing: border-box;
}
.rightmenu{
    width: 15%;
    box-sizing: border-box;
    
}
/* .one{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
    cursor: pointer;
    padding: 15px 4rem;
}
.two{
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    color: white;
    cursor: pointer;
    padding: 15px 2rem;
} */

#navigation-bar>ul>li:hover{
    background-color:royalblue;
    box-shadow: 1px 1px 1px 1px black;

    cursor: pointer;

}