<div class="container">
    <div class="row featurette d-flex justify-content-center align-items-center mt-4">
        <div class="col-md-7 ">
            <h2 class="featurette-heading" style="text-align: center;">&#9679; &#9679; Our Mission &#9679;
                &#9679;
                </h2>
            <div class="container">
                <p class="lead" style="text-shadow: 2px 2px 2px rgb(230, 111, 111);text-align: justify">Our mission is
                    to
                    achieve a world where all people are literate.Student can decide their aim just after 12th.He fully
                    knows
                    that what to do next?</p>
                <p class="lead" style="text-shadow: 2px 2px 2px rgb(230, 111, 111);text-align: justify">As we know that
                    student's first tension is that what to do after 12th class and this would happen to all. Because
                    all we
                    have belongs to same background in which the race of marks going on.</p>
                <p class="lead" style="text-shadow: 2px 2px 2px rgb(230, 111, 111);text-align: justify;">So,conclusively
                    our
                    aim to provide full knowledge about -- what to do next?</p>
            </div>
        </div>
        <div class="col-md-5">
            <img src="../../assets/about.jpg"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  style="width:400px;
                height:400px" alt="a photo of thinking">
        </div>
    </div>

    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading" style="text-align: center;"> &#9679; &#9679; Our Vision &#9679;
                &#9679;</h2>
            <div class="container">
                <p class="lead" style="text-shadow: 2px 2px 2px rgb(230, 111, 111);text-align: justify">To grow exponentially from a local body (Group of College) to a worldwide education “AGGLOMERATE (UMBRELLA) ENCOMPASSING SCIENTIFIEC, TECHNICAL, COMMERCIAL AND LITERARY DISIPLINES” to fulfill the national and international requirements and to expand the knowledge horizon beyond the current FORMIDABLE BOUNDARIES.</p>
            </div>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="../../assets/vision.jpg"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" alt="a photo of thinking">
        </div>
    </div>
</div>
<hr>
<div class="container" style="background-color: aliceblue; margin-bottom: 20px;">
    <h2 class="pt-4 pb-4" style="text-align: center;">Team Members</h2>
    <div class="row ml-3" style="text-align: justify;">
        <div class="col-lg-4">
            <img class="bd-placeholder-img img-fluid rounded-circle" src="../../assets/abhi.jpg" width="200"
                height="200">
            <h2>Abhishek Goyal</h2>
            <p>Lead developer.</p>
            <div class="flex">
                <a href="https://www.facebook.com/abhi.goyal.3133719/" target="_blank" rel="noopener noreferrer"><img class="bd-placeholder-img img-fluid rounded-circle" src="../../assets/fb.jpg" alt=""></a>
                <a href="https://www.instagram.com/abhishekgoyal5677/" target="_blank" rel="noopener noreferrer"><img class="bd-placeholder-img img-fluid rounded-circle" src="../../assets/insta.jpg" alt=""></a>
                <a href="https://www.linkedin.com/in/abhi-goyal-3259851a1/" target="_blank" rel="noopener noreferrer"><img class="bd-placeholder-img img-fluid rounded-circle" src="../../assets/lkin.jpg" alt=""></a>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img img-fluid rounded-circle" src="../../assets/jitu.jpg" width="200"
                height="200">
            <h2>Jitendra Panwar</h2>
            <p>Backend Developer.</p>
            <div class="flex">
                <a href="https://www.facebook.com/jitendra.panwar.12576049/" target="_blank" rel="noopener noreferrer"><img class="bd-placeholder-img img-fluid rounded-circle" src="../../assets/fb.jpg" alt=""></a>
                <a href="" target="_blank" rel="noopener noreferrer"><img class="bd-placeholder-img img-fluid rounded-circle" src="../../assets/insta.jpg" alt=""></a>
                <a href="" target="_blank" rel="noopener noreferrer"><img class="bd-placeholder-img img-fluid rounded-circle" src="../../assets/lkin.jpg" alt=""></a>
            </div>
            
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img img-fluid rounded-circle" src="../../assets/tuski.jpg" width="200"
                height="200">
            <h2>Tushar Lakhotia</h2>
            <p>Front end Developer.</p>
            <div class="flex">
                <a href="http://" target="_blank" rel="noopener noreferrer"><img class="bd-placeholder-img img-fluid rounded-circle" src="../../assets/fb.jpg" alt=""></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img class="bd-placeholder-img img-fluid rounded-circle" src="../../assets/insta.jpg" alt=""></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img class="bd-placeholder-img img-fluid rounded-circle" src="../../assets/lkin.jpg" alt=""></a>
            </div>
        </div><!-- /.col-lg-4 -->
    </div>
</div>