<!-- <p>dashfooter works!</p> -->

<!-- <p>footer works!</p> -->
<!-- Footer -->
<footer class="page-footer font-small blue pt-4" id="foot">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Student Guidence Portal</h5>
          <p>This is the portal where a student can showcase himself by geeting proper stydy tips,by giving his or her academic survey they can find their actual position.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Link For logout</h5>

            <ul class="list-unstyled">
              <li>
                <a  routerLink="/home">logout</a>
              </li>
             
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Quick Links</h5>

            <ul class="list-unstyled">
              <li>
                <a routerLink="/home">Home</a>
              </li>
              <li>
                <a routerLink="/about">About</a>
              </li>
              <li>
                <a  routerLink="/Contact">Contact</a>
              </li>
              <li>
                <a  routerLink="/exploreform">Explore</a>
              </li>
              <li>
                <a  routerLink="/tips">get tips</a>
              </li>
              <li>
                <a  routerLink="/table">Create time table</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://sgp.com/"> sgp.project.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
