.container{
    background-color: rgb(80, 80, 224);
    font-size: large;
}
/* .col-md-3{
    margin: 0px 5px;
    box-sizing: border-box;
} */
h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2em;
}