<div class="container my-2 py-3">
    <h1>Fill this survey for exploring yourself</h1>
    <form>
        <div class="form-group">
            <label for="Q1">Q1) Choose your medium</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Q1" id="hindi" value="option1" #q1ref1="ngModel" [(ngModel)]="q1Prop1">
                <label class="form-check-label" for="Q1">
                    Hindi
                </label>
            </div>
            <div class="form-check">
                <input #q1ref2="ngModel" [(ngModel)]="q1Prop2" class="form-check-input" type="radio" name="Q1" id="english" value="option2">
                <label class="form-check-label" for="Q1">
                    English
                </label>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="Q2">Q2) What is your current study standerd ? </label>
            <div class="form-check">
                <input #q2ref1="ngModel" [(ngModel)]="q2Prop1" class="form-check-input" type="radio" name="Q2" id="Below_8" value="option1" >
                <label class="form-check-label" for="Q2">
                    Below 8<sup>th</sup>
                </label>
            </div>
            <div class="form-check">
                <input #q2ref2="ngModel" [(ngModel)]="q2Prop2" class="form-check-input" type="radio" name="Q2" id="Between_8" value="option2">
                <label class="form-check-label" for="Q2">
                    Between 8<sup>th</sup> and 10<sup>th</sup>
                </label>
            </div>
            <div class="form-check">
                <input #q2ref3="ngModel" [(ngModel)]="q2Prop3" class="form-check-input" type="radio" name="Q2" id="secondary" value="option3">
                <label class="form-check-label" for="Q2">
                    Secondary Education
                </label>
            </div>
            <div class="form-check">
                <input #q2ref4="ngModel" [(ngModel)]="q2Prop4" class="form-check-input" type="radio" name="Q2" id="S_Secondary" value="option4">
                <label class="form-check-label" for="Q2">
                    Senior Secondary Education
                </label>
            </div>
            <div class="form-check">
                <input #q2ref5="ngModel" [(ngModel)]="q2Prop5" class="form-check-input" type="radio" name="Q2" id="un_gra" value="option5">
                <label class="form-check-label" for="Q2">
                    Undergraduate(UG)
                </label>
            </div>
            <div class="form-check">
                <input #q2ref6="ngModel" [(ngModel)]="q2Prop6" class="form-check-input" type="radio" name="Q2" id="po_gra" value="option6">
                <label class="form-check-label" for="Q2">
                    Postgraduate(PG)
                </label>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="Q3">Q3) Choose your field of interest</label>
            <div class="form-check">
                <input #q3ref1="ngModel" [(ngModel)]="q3Prop1" class="form-check-input" type="radio" name="Q3" id="sport" value="option1" >
                <label class="form-check-label" for="Q3">
                    Sports
                </label>
            </div>
            <div class="form-check">
                <input #q3ref2="ngModel" [(ngModel)]="q3Prop2" class="form-check-input" type="radio" name="Q3" id="defence" value="option2">
                <label class="form-check-label" for="Q3">
                    Defence
                </label>
            </div>
            <div class="form-check">
                <input #q3ref3="ngModel" [(ngModel)]="q3Prop3" class="form-check-input" type="radio" name="Q3" id="singing" value="option3">
                <label class="form-check-label" for="Q3">
                    Singing
                </label>
            </div>
            <div class="form-check">
                <input #q3ref4="ngModel" [(ngModel)]="q3Prop4" class="form-check-input" type="radio" name="Q3" id="Dancing" value="option4">
                <label class="form-check-label" for="Q2">
                    Dancing
                </label>
            </div>
            <div class="form-check">
                <input #q3ref5="ngModel" [(ngModel)]="q3Prop5" class="form-check-input" type="radio" name="Q3" id="swimming" value="option5">
                <label class="form-check-label" for="Q2">
                    Swimming
                </label>
            </div>
            <div class="form-check">
                <input #q3ref6="ngModel" [(ngModel)]="q3Prop6" class="form-check-input" type="radio" name="Q3" id="comp_fight" value="option6">
                <label class="form-check-label" for="Q2">
                    Competition fight
                </label>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="Q4">Q4) What is your recent class score ?</label>
            <div class="form-check">
                <input #q4ref1="ngModel" [(ngModel)]="q4Prop1" class="form-check-input" type="radio" name="Q4" id="Below_60" value="option1" >
                <label class="form-check-label" for="Q4">
                    Below 60%
                </label>
            </div>
            <div class="form-check">
                <input #q4ref2="ngModel" [(ngModel)]="q4Prop2" class="form-check-input" type="radio" name="Q4" id="Between_60_75" value="option2">
                <label class="form-check-label" for="Q4">
                    In Between 60% & 75%
                </label>
            </div>
            <div class="form-check">
                <input #q4ref3="ngModel" [(ngModel)]="q4Prop3" class="form-check-input" type="radio" name="Q4" id="Between_75_90" value="option3">
                <label class="form-check-label" for="Q4">
                    In Between 75% & 90%
                </label>
            </div>
            <div class="form-check">
                <input #q4ref4="ngModel" [(ngModel)]="q4Prop4" class="form-check-input" type="radio" name="Q4" id="Above_90" value="option4">
                <label class="form-check-label" for="Q4">
                    Above 90%
                </label>
            </div>
        </div>
        <br>
        <div class="form-group">
            <small>!! Last Question !!</small>
            <br>
            <label for="Q5">Q5) Choose your aim</label>
            <div class="form-check">
                <input #q5ref1="ngModel" [(ngModel)]="q5Prop1" class="form-check-input" type="radio" name="Q5" id="sport" value="option1" >
                <label class="form-check-label" for="Q5">
                    Engineering
                </label>
            </div>
            <div class="form-check">
                <input #q5ref2="ngModel" [(ngModel)]="q5Prop2" class="form-check-input" type="radio" name="Q5" id="defence" value="option2">
                <label class="form-check-label" for="Q5">
                    Doctor
                </label>
            </div>
            <div class="form-check">
                <input #q5ref3="ngModel" [(ngModel)]="q5Prop3" class="form-check-input" type="radio" name="Q5" id="singing" value="option3">
                <label class="form-check-label" for="Q5">
                    Charter Accountant(CA)
                </label>
            </div>
            <div class="form-check">
                <input #q5ref4="ngModel" [(ngModel)]="q5Prop4" class="form-check-input" type="radio" name="Q5" id="Dancing" value="option4">
                <label class="form-check-label" for="Q5">
                    Government Job
                </label>
            </div>
            <div class="form-check">
                <input #q5ref5="ngModel" [(ngModel)]="q5Prop5" class="form-check-input" type="radio" name="Q5" id="swimming" value="option5">
                <label class="form-check-label" for="Q5">
                    Anything else
                </label>
            </div>
        </div>
        <button class="btn btn-success mx-4" (click)="submit();">Submit</button>
    </form>
</div>

