<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/engineering.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Engineering</h5>
                    <p class="card-text">Scientists study the world as it is; engineers create the world that has never
                        been.</p>
                    <a routerLink="/dashboard/eng_blog" class="btn btn-primary">Know More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/doctor.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Medical Student</h5>
                    <p class="card-text">A good physician treats the disease, the great physician treats the patient.
                    </p>
                    <a routerLink="/dashboard/doc_blog" class="btn btn-primary">Know More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/ca.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Charter Accountat(CA)</h5>
                    <p class="card-text">CA means Charismatic Amalgamation of great experiences of life</p>
                    <a routerLink="/dashboard/ca_blog" class="btn btn-primary">Know More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/govt.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Govt. Jobs</h5>
                <p class="card-text">Hillary Clinton has never created a single job other than government jobs or the staffers</p>
                <a routerLink="/dashboard/govt_blog" class="btn btn-primary">Know More</a>
            </div>
        </div>
    </div>
</div>
</div>
