<section class="container my-auto">
    <table class="table table-bordered table-dark my-auto" >
        <thead>
            <tr>
                <th scope="col">Day/subject</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">sub1</th>
                <td >
                    <input type="text"  [(ngModel)]="tt.monday.sub1" name="m1" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.tuesday.sub1" name="t1" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.wednesday.sub1" name="w1" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.thursday.sub1" name="th1" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.friday.sub1" name="f1" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.saturday.sub1" name="s1" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.sunday.sub1" name="su1" size="7">
                </td>
            </tr>
            <tr>
                <th scope="row">sub2</th>
                <td >
                    <input type="text"  [(ngModel)]="tt.monday.sub2" name="m2" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.tuesday.sub2" name="t2" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.wednesday.sub2" name="w2" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.thursday.sub2" name="th2" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.friday.sub2" name="f2" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.saturday.sub2" name="s2" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.sunday.sub2" name="su2" size="7">
                </td>
            </tr>
            <tr>
                <th scope="row">sub3</th>
                <td >
                    <input type="text"  [(ngModel)]="tt.monday.sub3" name="m3" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.tuesday.sub3" name="t3" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.wednesday.sub3" name="w3" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.thursday.sub3" name="th3" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.friday.sub3" name="f3" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.saturday.sub3" name="s3" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.sunday.sub3" name="su3" size="7">
                </td>
            </tr>
            <tr>
                <th scope="row">sub4</th>
                <td >
                    <input type="text"  [(ngModel)]="tt.monday.sub4" name="m4" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.tuesday.sub4" name="t4" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.wednesday.sub4" name="w4" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.thursday.sub4" name="th4" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.friday.sub4" name="f4" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.saturday.sub4" name="s4" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.sunday.sub4" name="su4" size="7">
                </td>
            </tr>
            <tr>
                <th scope="row">sub5</th>
                <td >
                    <input type="text"  [(ngModel)]="tt.monday.sub5" name="m5" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.tuesday.sub5" name="t5" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.wednesday.sub5" name="w5" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.thursday.sub5" name="th5" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.friday.sub5" name="f5" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.saturday.sub5" name="s5" size="7">
                </td>
                <td >
                    <input type="text"  [(ngModel)]="tt.sunday.sub5" name="su5" size="7">
                </td>
            </tr>
        </tbody>
    </table>
    
</section>
<div class="but-div">
    <button class="btn btn-warning " (click)="save();">Save</button>
</div>