<div class="body1">
<section class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <div class="imageclass" >
                <img src="../../assets/whatsphoto.jpeg" width="500" height="500" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="textclass">
                <h4  class="mx-auto">EXPLORE YOURSELF</h4>
                <p>Explore more about many sectors in which you can make your carrier,if you are not well known about the external sectors then click on explore button to make youself adequate.We have included course criteria,age limit,course duration,admission criteria and many more.</p>
                <button class="btn btn-danger " routerLink="/dashboard/explore">Explore</button>
            </div>
        </div>
    </div>
</section>
<section class="container my-5"> 
    <div class="row">
        <div class="col-md-6">
            <div class="imageclass">
                <img src="../../assets/st.jpg" width="500" height="500" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="textclass">
                <h4  class="mx-auto">GET STUDY TIPS</h4>
                <p>Study isn't just for the night before an assignment's due or the night before an exam.
                    It's never too early – or too late – to develop good study habits. The sooner you get into a good study groove, the easier everything will be and the more your chances of getting good.We have provided top 10 study tips for you to make you more comfortable with your study.</p>
                    <button class="btn btn-primary" routerLink="/dashboard/tips">Get Tips</button>
            </div>
        </div>
    </div>
</section>
<section class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <div class="imageclass">
                <img src="../../assets/tt.jpg" width="500" height="500" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="textclass">
                <h4  class="mx-auto">SCHEDULE TIME TABLE</h4>
                <p>Prepare your own time table on the daily basis from monday to sunday and you can manage your daily routine time.
                    follow it cover all the subjects.</p>
                    <button class="btn btn-success" routerLink="/dashboard/table">Create</button>
            </div>
        </div>
    </div>
</section>
</div>