.body1{
    padding:10px 20px;
    background: linear-gradient(rgb(0, 225, 255), rgb(255, 52, 147));
    margin-top: 0px;
}
button:hover{
    box-sizing: 3px 3px blue;
    transform: translate3D(0,-1px,0) scale(1.03);
}
.textclass{
    /* display: flex; */
    align-items: center;
}
.textclass>button{
    align-self: center;
    justify-self: center;
}

/* Explore yourself by giving your academic survey to know where you stand and what matches you */