<section class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <div class="imageclass" >
                <img src="../../assets/exp.jpg" width="500" height="500" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="textclass">
                <h4  class="mx-auto">EXPLORE YOURSELF</h4>
                <p>Explore yourself by giving your academic survey to
                    know where you stand and what matches you.</p>
                <button class="btn btn-danger" routerLink="/dashboard/explore">Give Survey</button>
            </div>
        </div>
    </div>
</section>
<section class="container my-5"> 
    <div class="row">
        <div class="col-md-6">
            <div class="imageclass">
                <img src="../../assets/st.jpg" width="500" height="500" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="textclass">
                <h4  class="mx-auto">GET STUDY TIPS</h4>
                <p>Study isn't just for the night before an assignment's due or the night before an exam.
                    It's never too early – or too late – to develop good study habits. The sooner you get into a good study groove, the easier everything will be and the more your chances of getting good.</p>
                    <button class="btn btn-primary" routerLink="/dashboard/tips">Get Tips</button>
            </div>
        </div>
    </div>
</section>
<section class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <div class="imageclass">
                <img src="../../assets/tt.jpg" width="500" height="500" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="textclass">
                <h4  class="mx-auto">SCHEDULE TIME TABLE</h4>
                <p>Prepare your own time table on the daily basis and
                    follow it to manage your time.</p>
                    <button class="btn btn-success" routerLink="/table">Create</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="textclass">
                <button class="but" routerLink="/dashboard/table">Create</button>
            </div>
        </div>
    </div>
</section>