.but{
    color: black;
    border: 2px solid yellowgreen;
    border-radius: 5px;
    background-color: darkgoldenrod;
    height: 40px;
    width: 100px;
}
button:hover{
    box-sizing: 3px 3px blue;
}
.textclass{
    align-items: center;
}

